.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px !important;
    font-size: 12px;
    font-style: normal !important;
    line-height: 1.428571429;
    border-radius: 15px !important;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px !important;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-position {
    float: right;
    right: 10px;
    position: relative;
    margin-top: -50px;
    text-align: center;
}