.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px !important;
    font-size: 12px;
    font-style: normal;
    line-height: 1.428571429;
    border-radius: 15px !important;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-weight:600;
    padding-bottom: 12px !important;
    line-height: 1.33;
    border-radius: 25px !important;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-position {
    float: right;
    right: 20px;
    position: relative;
    margin-top: -60px;
    text-align: center;
    --svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="rgb(178, 190, 181)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-down" id="IconChangeColor"><polyline points="7 13 12 18 17 13"></polyline><polyline points="7 6 12 11 17 6"></polyline></svg>');

    background-image: var(--svg);
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-position:hover {
    background-color: bisque !important;
    border-color: burlywood !important;
}

#onlineUsersSelector option.fa {
    display: block;
    font-family: 'FontAwesome', 'sans-serif';
    font-size: 16px;
    color: grey;
}

.debug {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 10px;
	background: #000000;
	color: #ffffff;
}

.bi.bi-check-all{
    background-image: var(--svg);
    background-size: 100% 18px;
    background-repeat: no-repeat;
    float: left;
    width: 24px;
    height: 24px;
    margin-top: -5px;
    position: relative;
    --svg: url('data:image/svg+xml,\
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" \
            class="bi bi-check-all" viewBox="0 0 16 16">\
            <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/></svg>');
}

.bi.bi-check{
    background-image: var(--svg);
    background-size: 100% 18px;
    background-repeat: no-repeat;
    float: left;
    width: 18px;
    height: 18px;
    margin-top: -5px;
    position: relative;
    --svg: url('data:image/svg+xml,\
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" \
            class="bi bi-check" viewBox="0 0 16 16">\
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>');
}

#is_created p{
  font-size: small;
  margin-top: -5px;  
}